/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

body {
  min-height: 100vh;
  background-image: url('https://images.unsplash.com/photo-1542273917363-3b1817f69a2d?w=1920&q=80');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
